<div class="all">
<div class="toolbar">
  <mat-toolbar color="primary">
    <span>Vacancy Eye</span>
  </mat-toolbar>
</div>
<div class="gallery1">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
<div class="navtab">
  <nav mat-tab-nav-bar>
        <a mat-tab-link
        *ngFor="let routeLink of routeLinks; let i = index;"
        [routerLink]="routeLink.link"
        routerLinkActive="mat-tab-link-active"
        #rla="routerLinkActive"
        [active]="activeLinkIndex === i"
        (click)="activeLinkIndex = i"
        [routerLinkActiveOptions]="{exact: true}"
     >
         {{routeLink.label}}
     </a>


  </nav>
</div>
<router-outlet></router-outlet>
</div>